@media only screen and (max-width: 1300px) {
    .isi h1 {
        font-size: 40px;
        padding-bottom: 10px;
        margin-bottom: 100px;
    }
    .contents-item {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        height: 460px;
        width: 300px;
    }
    .foto {
        height: 170px;
        width: 170px;
    }
    #Nama {
        font-size: 25px;
    }
}

@media (max-width:1000px) {
    /* header */
    header {
        background: rgba(0, 0, 0, 0.2);
    }
    .header-left img {
        width: 63px;
        height: 63px;
        padding: 25px 0 0 0;
    }
    .header-right li {
        display: inline;
        flex: auto;
        padding-right: 10px;
        /*padding-top: 13px;*/
    }
    .header-right {
        text-align: right;
        float: right;
        padding: 20px;
    }
    /* main */
    .main-content {
        /* padding: 64px 0px 12px 23px; */
        background-image: url(tablet.jpg);
        background-size: cover;
    }
    .left-text {
        font-size: 15px;
    }
    .main-text {
        /*display:flex;*/
        flex-direction: column;
    }
    .right-text {
        text-align: left;
        margin-left: 0;
        /*font-size: 17px;*/
        /*margin-top: -30px;*/
    }
    .left-text h1 {
        padding-bottom: 0;
    }
    /*.right-text p{
        float: left;
        margin-left: 0;
    }*/
    .contents {
        overflow-x: scroll !important;
    }
    */
    /* extra 1 */
    /* extra 2 */
    .extra2 {
        /*position: absolute;*/
        width: 100%;
        /*height : 1160px;*/
        left: 0px;
        /*top:600px;*/
        background: #F1FFFF;
    }
    .extra2-logo {
        position: absolute;
        width: 130px;
        height: 130px;
        left: 14px;
        top: 14px;
    }
    .logo-x2 {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .isi-x2 {
        text-align: left;
        float: left;
        padding: 0px;
        width: 100%;
        padding-left: 160px;
    }
    .tr-x2 {
        height: 90px
    }
    .text1-x2 {
        font-family: "Varta Regular";
        padding: 0px;
        font-size: 50px;
        color: #024389;
        text-align: left;
        vertical-align: bottom;
    }
    .text2-x2 {
        font-family: "Varta Regular";
        text-align: left;
        padding: 0px;
        font-size: 50px;
        color: #024389;
        vertical-align: bottom;
    }
    .extra2-right {
        position: absolute;
        width: 160px;
        height: 160px;
        right: 0px;
        top: 0px;
    }
    .image-x2 {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0px;
        top: 0px;
    }
    .btn-x2 {
        position: absolute;
        left: 165px;
        top: 90px;
    }
    .isi {
        padding-left: 40px;
    }
    .isi h1 {
        font-size: 30px;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .contents-item {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 20px;
        height: 460px;
        width: 300px;
    }
    .foto {
        height: 180px;
        width: 180px;
    }
    #Nama {
        font-size: 20px;
    }
    /* footer */
}

@media (max-width:670px) {
    /* header */
    .contents {
        overflow-x: none !important;
        display: block;
        overflow-y: visible;
        height: 470px;
    }
    header {
        background: rgba(0, 0, 0, 0.2);
    }
    .header-left img {
        width: 63px;
        height: 63px;
        padding: 25px 10px 0 10px;
    }
    .header-right li {
        display: inline;
        flex: auto;
        padding-right: 10px;
        /*padding-top: 13px;*/
    }
    .header-right {
        text-align: right;
        float: right;
        padding: 20px;
    }
    .header-right a {
        font-size: 10px;
        padding: 0 10px;
        line-height: 50px;
    }
    /* main */
    .main-content {
        /* padding: 64px 0px 12px 23px; */
        background-image: url(tablet.jpg);
        background-size: cover;
    }
    .left-text {
        font-size: 20px;
        text-align: left;
    }
    .main-text {
        /*display:flex;*/
        flex-direction: column;
    }
    .right-text {
        text-align: left;
        margin-left: 0;
        font-size: 10px;
        /*margin-top: -30px;*/
    }
    .left-text h1 {
        padding-bottom: 0;
    }
    /*.right-text p{
        float: left;
        margin-left: 0;
    }*/
    .contents {
        overflow-x: scroll !important;
    }
    /* extra 1 */
    /* extra 2 */
    .extra2 {
        position: absolute;
        width: 100%;
        height: 100px;
        left: 0px;
        /*top:600px;*/
        background: #EFFFFF;
    }
    .extra2-logo {
        position: absolute;
        width: 130px;
        height: 140px;
        left: 4px;
        top: 6px;
    }
    .logo-x2 {
        position: absolute;
        width: 85px;
        height: 85px;
    }
    .isi-x2 {
        text-align: left;
        float: left;
        padding: 0px;
        width: 100%;
        padding-left: 100px;
        padding-right: 70px;
        padding-top: 5px;
    }
    .tr-x2 {
        height: 70px
    }
    .text1-x2 {
        font-family: "Varta Regular";
        padding: 0px;
        font-size: 18px;
        color: #024389;
        text-align: left;
        vertical-align: bottom;
    }
    .text2-x2 {
        font-family: "Varta Regular";
        text-align: left;
        padding: 0px;
        font-size: 21px;
        color: #024389;
        vertical-align: top;
    }
    table.responsive {
        width: 100%;
    }
    td {
        display: block;
        text-align: right;
    }
    .extra2-right {
        position: absolute;
        width: 100px;
        height: 100px;
        right: 0px;
        top: 0px;
    }
    .image-x2 {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0px;
        top: 0px;
    }
    .btn-x2 {
        position: absolute;
        left: 100px;
        top: 65px;
    }
    .logo2-x2 {
        position: absolute;
        width: 11px;
        height: 8px;
        left: 4px;
        top: 4px;
    }
    a {
        text-decoration: none;
        border-radius: 20px;
        padding: 0px 27px 4px 10px;
        color: #fff;
        font-family: sans-serif;
        font-weight: bold;
        position: relative;
        display: inline-block;
    }
    a .round {
        border-radius: 50%;
        width: 19px;
        height: 18px;
        position: absolute;
        right: 3px;
        top: 3px;
    }
    .txt {
        font-size: 8px;
        line-height: 1;
    }
    /* footer */
    .footer-list a {
        font-size: 10px;
        padding: 0 10px;
        line-height: 50px;
    }
    .footer-logo img {
        height: 40px;
    }
    .footer {
        height: 50px;
        position: unset;
        margin-top: 30px;
    }
    .isi {
        padding-left: 40px;
    }
    .isi h1 {
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .contents-item {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 20px;
        height: 370px;
        width: 270px;
    }
    .foto {
        height: 150px;
        width: 150px;
    }
    #Nama {
        font-size: 23px;
    }
}
